/* styles.css */
nav button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

nav button a {
    text-decoration: none;
    color: inherit;
}

nav button:hover {
    background-color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav button {
        margin: 5px 0;
    }
}